
#canvas {
    width: 950px;
    height: 650px;
    border: 4px solid black;
    display: block;
    margin: auto;
    transform: translateY(40px);
    background-position: inherit;
    background: linear-gradient(to bottom, lightblue, darkblue, black);
}
body {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}